form mat-label {
    font-size: 18px;
}

form mat-form-field {
    padding: 12px;
    width: 95%;
}

mat-form-field input {
    padding: 8px;
    font-size: 18px;
}

mat-form-field textarea {
    padding: 8px;
    font-size: 16px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.button-wrapper button{
    padding: 8px 5rem 8px 5rem;
    font-size: 16px;
}