<div class="content">
    <mat-icon style="float: right; cursor: pointer;" color="warn" (click)="this.dialog.close()">cancel</mat-icon>
    <h1 style="padding-top: 14px; font-weight: 550;">Edit Task</h1>
    <form [formGroup]="editForm" (ngSubmit)="submit()" >

        <div class="form-input">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div class="form-input">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>  
        </div>
    
        <div class="button-wrapper">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>

    </form>
</div>