<mat-toolbar color="primary">
    <h1>Hanging Task</h1>
</mat-toolbar>

<div class="main">
    <div class="get-started">
        <mat-card class="card">
            <h1>New Password</h1>
            <div class="text-wrap">
                <p>Please create a new password that you don't use on any other site.</p>
            </div>
            <form [formGroup]="resetForm" (ngSubmit)="submit()">
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password"/>
                    </mat-form-field>
                </div>
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confPassword"/>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="submit">Change</button>
            </form>
        </mat-card>
    </div>
</div>
