.mat-toolbar{
    padding: 32px;
}

.example-spacer {
    flex: 1 1 auto;
}

.main {
    background-image: linear-gradient(to top, rgb(192, 155, 226), rgb(103,58,183));
    height: important auto;
    min-height: 93.5vh;
    width: 100%;
}

.get-started{
    padding-top: 13vh;
}

.card {
    padding: 28px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.card h1 {
    font-weight: 550;
    font-size: 32px;
}

.card .text-wrap {
    background-color: rgb(212,237,218);
    border-radius: 12px;
    margin: 0px 12px;
}

.card .text-wrap p {
    padding: 18px;
    font-size: 16px;
}

.card .form-input {
    padding: 8px;
}

.card .form-input mat-form-field{
    font-size: 21px;
    width: 80%;
}

.card button {
    padding: 8px;
    font-size: 18px;
    width: 80%;
}