.mat-toolbar{
  padding: 32px;
}

.mat-toolbar button:hover{
  background-color: rgb(244,67,54);
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.main {
  background-image: linear-gradient(to top, rgb(192, 155, 226), rgb(103,58,183));
  height: auto;
  min-height: 93.5vh;
  width: 100%;
}

.filter {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.filter .search {
  margin-left: 12px;
  background-color: white;
  padding: 7px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  width: 140px;
}

.search button{
  background-color: transparent;
}

.search input{
  font-size: 16px;
  width: 100px;
}

.search input:focus{
  outline: none;
}

.top-content {
  padding: 12px;
  display: flex;
  justify-content: center;
  color: white;
}

.content{
  margin-left: 17%;
 
}

.button-wrapper {
  padding-left: 12px;
}

.top-content button {
  font-size: 18px;
}

.top-content button:hover {
  font-size: 18px;
  background-color: rgb(185,148,223);
  color: white;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.example-list {
    height: 75vh;
    background: rgb(215,167,225);
    border-radius: 5px;
    overflow-y: auto;
    display: block;
}

.example-list h2 {
  padding: 12px;
  margin-bottom: -10px;
  color: black;
}

.example-list::-webkit-scrollbar {
  display: none;
}
  
.example-box {
  padding: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.mat-card {
  background-color: rgba(255, 255, 255, 0.452);
  padding: 18px;
  width: 400px;
  color: black;
}

.mat-card h3 {
  font-weight: 500;
  font-size: 21px;
}

.mat-card span {
  font-size: 18px;
}

.mat-card .assign {
  padding-top: 8px;
  font-size: 18px;
}
  
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;  
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms;
}

.mat-card-actions {
  display: flex;
  justify-content: right;
}

.mat-card-actions button:hover {
  background-color: black;
}