<mat-toolbar color="primary">
    <h1>Hanging Task</h1>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="signout()">
      Sign Out
    </button>
</mat-toolbar>

<div class="main">

  <div class="top-content">
  
    <h2>Task List</h2>
    <div class="button-wrapper">
      <button mat-flat-button (click)="addDialog()">
        Create Task
      </button>
    </div>

  </div>
  
  <div class="content"> 
      <div cdkDropListGroup>

          <div class="example-container">
            <h2>To do</h2>
            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of todo" cdkDrag>
                <mat-card>
                  <h3>{{ task.title.toUpperCase() }}</h3>
                  <span> {{ task.description }}</span>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="editDialog(task,'-todo')">Edit</button>
                    <button mat-raised-button color="warn" (click)="db.delCreateTask(task)" >Delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
         </div>

        <div class="example-container">
            <h2>Ongoing</h2>
            <div
              cdkDropList
              [cdkDropListData]="ongoing"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of ongoing" cdkDrag>
                <mat-card>
                  <h3>{{ task.title.toUpperCase() }}</h3>
                  <span> {{ task.description }}</span>
                
                  <mat-card-actions>
                    <div class="button-wrapper">
                      <button mat-raised-button color="primary" (click)="editDialog(task,'-ongoing')">Edit</button>
                    </div>
                    <div class="button-wrapper">
                      <button mat-raised-button color="warn" (click)="db.delOnGoingTask(task)">Delete</button>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>

          <div class="example-container">
            <h2>Done</h2>
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of done" cdkDrag>
                <mat-card>
                  <h3>{{ task.title.toUpperCase() }}</h3>
                  <span> {{ task.description }}</span>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="editDialog(task,'-done')">Edit</button>
                    <button mat-raised-button color="warn" (click)="db.delDoneTask(task)">Delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>

        </div>
    </div>

</div>


