.content{
    width: 450px;
    padding: 12px;
}

.content h1{
    font-size: 24px;
}

.content p{
    font-size: 18px;
}

.content form {
    padding-top: 12px;
}

mat-form-field {
    font-size: 17px;
    width: 100%;
}

.button-wrapper{
    text-align: right;
}

.button-wrapper button:nth-child(1){
    margin-right: 10px;
}

